../../../.bash_history 
../../../.config/ 
../../../.dbshell 
../../../.dotnet/ 
../../../.env_flask/ 
../../../.gitconfig 
../../../.ipynb_checkpoints/ 
../../../.ipython/ 
../../../.jupyter/ 
../../../.lesshst 
../../../.matplotlib/ 
../../../.mongorc.js 
../../../.nuget/ 
../../../.reactgenerator 
../../../.streamlit/ 
../../../.templateengine/ 
../../../.th-client/ 
../../../.viminfo 
../../../.vscode/ 
../../../AppData/ 
../../../Contacts/ 
../../../Documents/ 
../../../Downloads/ 
../../../EDA_AMCAT_IN9240566 .ipynb 
../../../Favorites/ 
../../../Google APi/ 
../../../Links/ 
../../../Music/ 
../../../NTUSER.DAT 
../../../NTUSER.DAT{94530182-fdf9-11ed-af10-00e04c68fc52}.TM.blf 
../../../NTUSER.DAT{94530182-fdf9-11ed-af10-00e04c68fc52}.TMContainer00000000000000000001.regtrans-ms 
../../../NTUSER.DAT{94530182-fdf9-11ed-af10-00e04c68fc52}.TMContainer00000000000000000002.regtrans-ms 
../../.849C9593-D756-4E56-8D6E-42412F2A707B 
../..txt 
../AMCAT Data.pdf 
../Admit Card.pdf 
../AspCoreStronglyTypeViewWebApp.zip 
../CV_2024050514514460.pdf 
../CV_2024052115111692.pdf 
../Db/ 
../GENAI/ 
../GoogleAPI/ 
../IMG_20240828_174818.jpg 
../INNO/ 
../Microsoft Edge.lnk 
../MiniprojectR180779.zip 
../MiniprojectR180779/ 
../MongoDBCompass.lnk 
../PAN/ 
../POOJARI VAMSHIDHAR- INVOICE.PDF 
../Person 1 - Chrome.lnk 
../Postman.lnk 
../SQL/ 
../Sandhya Rani - Chrome.lnk 
../This PC - Shortcut.lnk 
.vs/ 
VehicleServiceBookingApplication.sln 
VehicleServiceBookingApplication/bin/ 
../VehicleServiceBookingApplication.zip 
../VehicleServiceProject/ 
../Visual Studio Code.lnk 
../Wipro/ 
../Zoom Workplace.lnk 
../addskill.txt 
../desktop.ini 
../feb/ 
../fullstack/ 
../idcard.pdf 
../imresizer-1717068414354.jpg 
../learningdjango/ 
../mycon.udl 
../new/ 
../p.txt 
../sqlwipro/ 
../travello/ 
../wiproIII/ 
../../Documents/ 
../../Personal Vault.lnk 
../../Pictures/ 
../../desktop.ini 
../../../README.md 
../../../Saved Games/ 
../../../Searches/ 
../../../TASK3.ipynb 
../../../Task2.ipynb 
../../../Untitled.ipynb 
../../../Untitled1.ipynb 
../../../Untitled2.ipynb 
../../../Videos/ 
../../../WPS Cloud Files/ 
../../../innomatics.ipynb 
../../../leet.ipynb 
../../../linkedlist.ipynb 
../../../meme.ipynb 
../../../node_modules/ 
../../../ntuser.dat.LOG1 
../../../ntuser.dat.LOG2 
../../../ntuser.ini 
../../../package-lock.json 
../../../package.json 
../../../resumeparsing.ipynb 
../../../sorting.ipynb 
../../../source/ 
../../../techm.ipynb 
../../../untitled.py 
"ignorelist.txt"
